@charset "UTF-8";

html {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
    background-color: light-dark(white, black);
    color: light-dark(black,white);

    scroll-behavior: smooth;
}